### **BIVARIATE ANALYSIS USING NUMPY AND PLOTLY**

In [38]:
import numpy as np
import pandas as pd
import plotly.graph_objects as go

arr = np.array([[6.00, 7.00, 8.00, 9.00, 10.00, 11.00, 12.00, 13.00, 14.00, 15.00, 16.00, 17.00, 18.00, 19.00, 20.00, 21.00, 22.00, 23.00], [4.6, 4.3, 4.5, 3.7, 3.3, 3.9, 2.6, 4.1, 3.6, 2.9, 1.6, 3.2, 4.3, 3.9, 4.5, 4.4, 4.8, 4.9]])
print("Numpy array:")
print(arr)

Numpy array:
[[ 6.   7.   8.   9.  10.  11.  12.  13.  14.  15.  16.  17.  18.  19.
  20.  21.  22.  23. ]
 [ 4.6  4.3  4.5  3.7  3.3  3.9  2.6  4.1  3.6  2.9  1.6  3.2  4.3  3.9
   4.5  4.4  4.8  4.9]]

In [54]:
# convert numpy array to dataframe

df = pd.DataFrame(data = arr, index = ["Time of the day (X.hrs)", "Productivity Level(1-5)"])
print("\nPandas DataFrame:")
df

Pandas DataFrame:

                          0    1    2    3     4   ...    13    14    15    16    17
Time of the day (X.hrs)  6.0  7.0  8.0  9.0  10.0  ...  19.0  20.0  21.0  22.0  23.0
Productivity Level(1-5)  4.6  4.3  4.5  3.7   3.3  ...   3.9   4.5   4.4   4.8   4.9

[2 rows x 18 columns]

In [55]:
# Data Type of the above DataFrame

print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [46]:
## Taking Transpose of the above Pandas DataFrame

rdf = (df.T)
print(rdf)

    Time of the day (X.hrs)  Productivity Level(1-5)
0                       6.0                      4.6
1                       7.0                      4.3
2                       8.0                      4.5
3                       9.0                      3.7
4                      10.0                      3.3
5                      11.0                      3.9
6                      12.0                      2.6
7                      13.0                      4.1
8                      14.0                      3.6
9                      15.0                      2.9
10                     16.0                      1.6
11                     17.0                      3.2
12                     18.0                      4.3
13                     19.0                      3.9
14                     20.0                      4.5
15                     21.0                      4.4
16                     22.0                      4.8
17                     23.0                      4.9

In [49]:
# Head
rdf.head()

   Time of the day (X.hrs)  Productivity Level(1-5)
0                      6.0                      4.6
1                      7.0                      4.3
2                      8.0                      4.5
3                      9.0                      3.7
4                     10.0                      3.3

In [50]:
# Tail
rdf.tail()

    Time of the day (X.hrs)  Productivity Level(1-5)
13                     19.0                      3.9
14                     20.0                      4.5
15                     21.0                      4.4
16                     22.0                      4.8
17                     23.0                      4.9

In [52]:
#shape
rdf.shape

(18, 2)

In [48]:
# bar chart using plotly

import plotly.graph_objects as go

trace = go.Bar(
x=rdf['Time of the day (X.hrs)'],
y=rdf['Productivity Level(1-5)']
)
layout = go.Layout(
height=400,
width=600,
margin=dict(l=0, r=0, t=0, b=0)
)
fig = go.Figure(data=[trace], layout=layout)
fig.show()